.input{border:3px solid #ae7000;}
.show{opacity: 1; background-color: red; transition: opacity 1.5s ease-in, background-color 1.5s ease-in;}
.hide{opacity: 0; background-color: blue; transition: opacity 1.5s ease-in, background-color 1.5s ease-in;}